timeout 0
default 0

title nfs
dhcp
tftpserver 192.168.100.39
kernel (nd)/vmlinuz ramdisk=32000 vga=788 kickstart=Mandrake/base/auto_inst.cfg.pl useless_thing_accepted automatic=method:nfs,network:static,ip:192.168.100.25,dns:192.168.100.11,gateway:192.168.100.1,server:192.168.100.39,directory:/export,user:a,pass:a
initrd (nd)/network.rdz

title ftp
dhcp
tftpserver 192.168.100.39
kernel (nd)/vmlinuz ramdisk=32000 vga=788 kickstart=Mandrake/base/auto_inst.cfg.pl useless_thing_accepted automatic=method:ftp,network:static,ip:192.168.100.25,dns:192.168.100.11,gateway:192.168.100.1,server:192.168.100.39,directory:/export,user:a,pass:a
initrd (nd)/network.rdz

title rescue
dhcp
tftpserver 192.168.100.39
kernel (nd)/vmlinuz rescue rw root=/dev/ram3 ramdisk=32000 vga=788 kickstart=Mandrake/base/auto_inst.cfg.pl useless_thing_accepted automatic=method:nfs,network:static,ip:192.168.100.25,dns:192.168.100.11,gateway:192.168.100.1,server:192.168.100.39,directory:/export,user:a,pass:a
initrd (nd)/network.rdz

