[submodule "perl-install/install/share/meta-task"]
	path = perl-install/install/share/meta-task
	url = git@abf.io:mdk/meta-task.git

[submodule "mdk-stage1/ldetect"]
	path = mdk-stage1/ldetect
	url = git@abf.io:moondrake/ldetect.git
