[submodule "perl-install/install/share/meta-task"]
	path = perl-install/install/share/meta-task
	url = git@abf.io:mdk/meta-task.git
[submodule "images/setup"]
	path = images/setup
	url = git@abf.io:software/setup.git
[submodule "mdk-stage1/ldetect"]
	path = mdk-stage1/ldetect
	url = git@abf.rosalinux.ru:software/ldetect.git
