[Desktop Entry]
Name=Move Move Loop
Exec=mdk_move_loop to_cdrom always boot
Type=Application
Terminal=0
X-KDE-autostart-after=panel
X-KDE-autostart-after=mdkhtmlbrowser
X-KDE-StartupNotify=false
