[Desktop Entry]
Name=Multimedia Player for CDs/DVDs
Comment=Play movies and songs
Exec=mdk_totem
Icon=totem.png
Type=Application
Terminal=false

Name[fr]=Lecteur Multimédia pour CDs/DVDs
Name[it]=Lettore Multimediale di CD/DVDs
Name[de]=Multimedia-Player für CDs/DVDs
Name[es]=Reproductor multimedios para CD/DVD
