[Desktop Entry]
Name=Reboot
Exec=halt_reboot
Terminal=false
Icon=exit.png
Type=Application
Separator=true
ForceLast=true

Name[fr]=Redémarrer
Name[it]=Riavvia
Name[es]=Reiniciar
Name[de]=Neustart
