polkit.addRule(function(action, subject) {
  if (typeof drakToolAuth != "function" || action.id.indexOf("org.drakx.") != 0)
    return polkit.Result.NOT_HANDLED;

  var tool = action.id.split(".")[2];
  var rv = drakToolAuth(tool);
  if (rv != polkit.Result.NOT_HANDLED)
    polkit.log("draksec security policy for '" + tool + "' is overriden to '" + rv + "'");
  return rv;
});

