function load_video {
  insmod vbe
  insmod vga
  insmod video_bochs
  insmod video_cirrus
}
if loadfont /boot/grub/fonts/dejavu.pf2 ; then
  set gfxmode=1024x768,1024x600,800x600,640x480
  load_video
  insmod gfxterm
fi

terminal_output gfxterm
insmod gfxmenu
loadfont ($root)/grub/themes/rosa/dejavu_sans_bold_14.pf2
loadfont ($root)/grub/themes/rosa/dejavu_sans_mono_11.pf2
loadfont ($root)/grub/themes/rosa/terminal_font_11.pf2
insmod jpeg
insmod png
background_image -m stretch /grub2/themes/rosa/terminal_background.png

set theme=/boot/grub/themes/rosa/theme.txt
set timeout=15
set distro="Moondrake GNU/Linux 2013"

if cpuid -l; then
  if test -f /boot/alt0/64/vmlinuz; then
     set initrd="/boot/alt0/64/modules.cpio.xz /x86_64/install/images/all.cpio.xz"
     set kernel="/boot/alt0/64/vmlinuz"
     if test -f /x86_64/install/stage2/mdkinst.cpio.xz; then
	kernel="${kernel} automatic=method:cdrom"
	set initrd_install="${initrd} /x86_64/install/stage2/mdkinst.cpio.xz"
     else
	set initrd_install="${initrd}"
     fi

menuentry "Install ${distro} (64 bit)" --class moondrake --class gnu-linux --class gnu --class os {
	load_video
	set gfxpayload=keep
	insmod gzio
	insmod xzio
	insmod part_msdos
	insmod ext2
	echo	'Loading kernel ...'
	linux	${kernel}
	echo	'Loading initial ramdisks ...'
	initrd	${initrd_install}
	echo	'Booting ...'
}

menuentry "Install ${distro} (64 bit) in text mode" --class moondrake --class gnu-linux --class gnu --class os {
	load_video
	insmod gzio
	insmod xzio
	insmod part_msdos
	insmod ext2
	echo	'Loading kernel ...'
	linux	${kernel} text
	echo	'Loading initial ramdisks ...'
	initrd	${initrd_install}
	echo	'Booting ...'
}

menuentry 'Rescue mode (64 bit)' --class moondrake --class gnu-linux --class gnu --class os {
	load_video
	set gfxpayload=keep
	insmod gzio
	insmod xzio
	insmod part_msdos
	insmod ext2
	echo	'Loading kernel ...'
	linux	${kernel} rescue
	echo	'Loading initial ramdisks ...'
	initrd	${initrd}
	echo	'Booting ...'
}
  fi
fi

if test -f /boot/alt0/32/vmlinuz; then
     set initrd="/boot/alt0/32/modules.cpio.xz /i586/install/images/all.cpio.xz"
     set kernel="/boot/alt0/32/vmlinuz"
     if test -f /i586/install/stage2/mdkinst.cpio.xz; then
	kernel="${kernel} automatic=method:cdrom"
	set initrd_install="${initrd} /i586/install/stage2/mdkinst.cpio.xz"
     else
	set initrd_install="${initrd}"
     fi

menuentry "Install ${distro} (32 bit)" --class moondrake --class gnu-linux --class gnu --class os {
	load_video
	set gfxpayload=keep
	insmod gzio
	insmod xzio
	insmod part_msdos
	insmod ext2
	echo	'Loading kernel ...'
	linux	${kernel}
	echo	'Loading initial ramdisks ...'
	initrd	${initrd_install}
	echo	'Booting ...'
}

menuentry 'Install ${distro} (32 bit) in text mode' --class moondrake --class gnu-linux --class gnu --class os {
	load_video
	insmod gzio
	insmod xzio
	insmod part_msdos
	insmod ext2
	echo	'Loading kernel ...'
	linux	${kernel} text
	echo	'Loading initial ramdisks ...'
	initrd	${initrd_install}
	echo	'Booting ...'
}

menuentry 'Rescue mode (32 bit)' --class moondrake --class gnu-linux --class gnu --class os {
	load_video
	set gfxpayload=keep
	insmod gzio
	insmod xzio
	insmod part_msdos
	insmod ext2
	echo	'Loading kernel ...'
	linux	${kernel} rescue
	echo	'Loading initial ramdisks ...'
	initrd	${initrd}
	echo	'Booting ...'
}
fi

menuentry 'Memory Test' {
	linux16 /boot/memtest.bin
}

menuentry 'Boot from harddisk' {
	exit
}
