     # --- Workstation


KDE Workstation [icon=kde] [path=Workstation] [selected=desktop] [descr=The K Desktop Environment, the basic graphical environment with a collection of accompanying tools]
	KDE
	X
	TERMINALS
	NETWORKING_OTHER

Office Workstation [icon=office] [path=Workstation] [selected=desktop] [descr=Office programs: wordprocessors (kword, abiword), spreadsheets (kspread, gnumeric), pdf viewers, etc]
	OFFICE
	SPELLCHECK
	PUBLISHING
	ARCHIVING

Multimedia station [icon=multimedia] [path=Workstation] [selected=desktop] [descr=Sound and video playing/editing programs]
        AUDIO
	VIDEO
	GRAPHICS

Internet station [icon=networking] [path=Workstation] [selected=desktop] [descr=Set of tools to read and send mail and news and to browse the Web]
        NETWORKING_WWW
	NETWORKING_MAIL
	NETWORKING_NEWS
	COMMUNICATIONS
	NETWORKING_FILE_TRANSFER
	NETWORKING_IRC
	NETWORKING_INSTANT_MESSAGING
	NETWORKING_DNS

Network Computer (client) [icon=terminals] [path=Workstation] [selected=desktop] [descr=Clients for different protocols including ssh]
        NETWORKING_REMOTE_ACCESS

Game station [icon=arcade] [path=Workstation] [selected=desktop] [descr=Amusement programs: arcade, boards, strategy, etc]
        GAMES

Documentation [icon=documentation] [path=Workstation] [selected=desktop] [descr=Books and Howto's on Linux and Free Software]
        BOOKS

