     # --- Workstation

Office Workstation [icon=office] [path=Workstation] [descr=Office programs: wordprocessors (kword, abiword), spreadsheets (kspread, gnumeric), pdf viewers, etc]
	OFFICE
	SPELLCHECK
	PUBLISHING
	PIM
	ARCHIVING

Game station [icon=arcade] [path=Workstation] [descr=Amusement programs: arcade, boards, strategy, etc]
	GAMES

Audio station [icon=multimedia] [path=Workstation] [descr=Sound playing/editing programs]
	AUDIO

Video station [icon=multimedia] [path=Workstation] [descr=Video playing programs]
	VIDEO

Graphic station [icon=multimedia] [path=Workstation] [descr=Graphics programs]
	GRAPHICS

Internet station [icon=networking] [path=Workstation] [descr=Set of tools to read and send mail and news and to browse the Web]
	NETWORKING_WWW
	NETWORKING_MAIL
	NETWORKING_NEWS
	COMMUNICATIONS
	NETWORKING_CHAT
	NETWORKING_FILE_TRANSFER
	NETWORKING_IRC
	NETWORKING_INSTANT_MESSAGING
	NETWORKING_DNS

Network Computer (client) [icon=terminals] [path=Workstation] [descr=Clients for different protocols including ssh]
	NETWORKING_REMOTE_ACCESS
	NETWORKING_FILE

Configuration [icon=configuration] [path=Workstation] [descr=Tools to ease the configuration of your computer]
	CONFIG

     # --- Graphical Environment

KDE Workstation [icon=kde] [path=Graphical Environment] [descr=The K Desktop Environment, the basic graphical environment with a collection of accompanying tools]
	KDE
	X

Gnome Workstation [icon=gnome] [path=Graphical Environment] [descr=A graphical environment with user-friendly set of applications and desktop tools]
	GNOME
	X