style "font"
{
  fontset = "-*-*-medium-r-normal-*-8-*-*-*-*-*-iso8859-1,*-r-*"
  xthickness = 1
  ythickness = 1
}

style "red" = "font"
{
  bg[NORMAL] = { 1.0, 0, 0 }
  bg[ACTIVE] = { 0.9, 0, 0 }
  bg[PRELIGHT] = { 0.9, 0, 0 }
}
style "orange" = "font"
{
  bg[NORMAL] = { 1.0, 0.6, 0 }
  bg[ACTIVE] = { 0.9, 0.6, 0 }
  bg[PRELIGHT] = { 0.9, 0.4, 0 }
}
style "green" = "font"
{
  bg[NORMAL] = { 0.4, 0.8, 0 }
  bg[ACTIVE] = { 0.4, 0.7, 0 }
  bg[PRELIGHT] = { 0.4, 0.7, 0 }
  fg[NORMAL] = { 0, 0, 0 }
}
style "blue" = "font"
{
  bg[NORMAL] = { 0, 0.7, 1.0 }
  bg[ACTIVE] = { 0, 0.6, 0.9 }
  bg[PRELIGHT] = { 0, 0.6, 0.9 }
}
style "white" = "font"
{
  bg[NORMAL] = { 1.0, 1.0, 1.0 }
  bg[ACTIVE] = { 0.9, 0.9, 0.9 }
  bg[PRELIGHT] = { 0.9, 0.9, 0.9 }
  fg[NORMAL] = { 0, 0, 0 }
}
style "gray" = "font"
{
  bg[NORMAL] = { 0.57, 0.62, 0.67 }
  bg[ACTIVE] = { 0.57, 0.62, 0.57 }
  bg[PRELIGHT] = { 0.57, 0.62, 0.57 }
  fg[NORMAL] = { 0, 0, 0 }
}

widget "*PART_ext3"	style "red" 
widget "*PART_xfs"	style "orange" 
widget "*PART_swap"	style "green"
widget "*PART_vfat"	style "blue"
widget "*PART_ntfs*"	style "blue"
widget "*PART_empty"	style "white"
widget "*PART_other"	style "gray"
