style "font"
{
  fontset = "-*-*-medium-r-normal-*-8-*-*-*-*-*-iso8859-1,*-r-*"
  xthickness = 1
  ythickness = 1
}

style "red" = "font"
{
  bg[NORMAL] = { 1.0, 0, 0 }
  bg[ACTIVE] = { 0.9, 0, 0 }
  bg[PRELIGHT] = { 0.9, 0, 0 }
}
style "darkred" = "font"
{
  bg[NORMAL] = { 0.7, 0, 0 }
  bg[ACTIVE] = { 0.6, 0, 0 }
  bg[PRELIGHT] = { 0.6, 0, 0 }
}
style "green" = "font"
{
  bg[NORMAL] = { 0, 1.0, 0 }
  bg[ACTIVE] = { 0, 0.9, 0 }
  bg[PRELIGHT] = { 0, 0.9, 0 }
  fg[NORMAL] = { 0, 0, 0 }
}
style "blue" = "font"
{
  bg[NORMAL] = { 0, 0, 1.0 }
  bg[ACTIVE] = { 0, 0, 0.9 }
  bg[PRELIGHT] = { 0, 0, 0.9 }
}
style "white" = "font"
{
  bg[NORMAL] = { 1.0, 1.0, 1.0 }
  bg[ACTIVE] = { 0.9, 0.9, 0.9 }
  bg[PRELIGHT] = { 0.9, 0.9, 0.9 }
  fg[NORMAL] = { 0, 0, 0 }
}

widget "*Linux*"      style "red" 
widget "*Ext2*"       style "red" 
widget "*Journalised FS*"   style "darkred" 
widget "*Linux swap*" style "green"
widget "*Swap*"       style "green"
widget "*FAT*"        style "blue"
widget "*Windows*"    style "blue"
widget "*SunOS*"      style "blue"
widget "*NTFS*"       style "blue"
widget "*Empty*"      style "white"
widget "*Other*"      style "font"
