style "steps"
{
  bg[NORMAL] = { 0, 0, 0 }
  fg[NORMAL] = { 1.0, 1.0, 1.0 }
  font = "-adobe-helvetica-medium-r-normal-*-*-80-*-*-p-*-iso8859-1"	
}

style "logo"
{
  bg[NORMAL] = { 1.0, 1.0, 1.0 }
}

widget "*Steps*" style "steps"
widget "*logo*" style "logo"