style "default-font" 
{
  fontset = "-*-*-medium-r-normal-*-10-*-*-*-*-*-iso8859-15"
}

style "steps"
{
  fontset = "-*-*-medium-r-normal-*-8-*-*-*-*-*-iso8859-15"
}

style "logo"
{
  bg[NORMAL] = { 1.0, 1.0, 1.0 }

  # no background image
  engine "pixmap" { image { function = FLAT_BOX } }
}

style "stepsReachable"
{
}

widget "*" style "default-font"
widget "*Steps*" style "steps"
widget "*StepsReachable*" style "stepsReachable"
widget "*logo*" style "logo"

