/*gtk-button-images=0*/

/*
 * bg[state] = color	Sets the color used for the background of most widgets.
 * fg[state] = color	Sets the color used for the foreground of most widgets.
 * base[state] = color	Sets the color used for the background of widgets displaying editable text. This color is used for the background of, among others, GtkText, GtkEntry, GtkList, and GtkCList.
 * text[state] = color	Sets the color used for foreground of widgets using base for the background color.
 */


#Steps * {
  /* base[NORMAL] = { 0.28, 0.38, 0.66 }; */
  color: #FFFFFF;
}

#Step-categories {
  color: #32A9DD;
}

#Banner * {
  color: #5A8AD6;
}

#background {
  background: #FFFFFF;
}

#Left_background {
  background-color: #2859B5;
  color: #FFD200;
}

GtkPaned.wide {
  -GtkPaned-handle-size: 5;
  margin: 0; }
  GtkPaned.wide .pane-separator {
    border-style: none solid;
    border-color: #a1a1a1;
    border-width: 1px; }
  GtkPaned.wide .pane-separator:backdrop {
    border-color: #a8a8a8; }
