style "mdk"
{
bg[NORMAL] = { 0.3, 0.38, 0.67 }
bg[PRELIGHT] = { 0.45, 0.51, 0.74 }
}
style "marble3d"
{
bg[NORMAL] = { 0.8, 0.8, 0.8 }
bg[PRELIGHT] = { 0.9, 0.9, 0.9 }
}
style "savane"
{
bg[NORMAL] = { 1.0, 0.67, 0 }
bg[PRELIGHT] = { 0.67, 0.33, 0 }
}
style "blackwhite"
{
bg[NORMAL] = { 0.67, 0.67, 0.67 }
bg[PRELIGHT] = { 1.0, 1.0, 1.0 }
}
style "blue"
{
bg[NORMAL] = { 0, 0, 0.67 }
bg[PRELIGHT] = { 0, 0, 1.0 }
}
widget "*mdk*" style "mdk"
widget "*marble3d*" style "marble3d"
widget "*savane*" style "savane"
widget "*blackwhite*" style "blackwhite"
widget "*blue*" style "blue"
