style "mdk"
{
bg[NORMAL] = { 0.3, 0.38, 0.67 }
bg[PRELIGHT] = { 0.45, 0.51, 0.74 }
}
style "marble3d"
{
bg[NORMAL] = { 0.8, 0.8, 0.8 }
bg[PRELIGHT] = { 0.9, 0.9, 0.9 }
}
style "blue"
{
bg[NORMAL] = { 0, 0, 0.67 }
bg[PRELIGHT] = { 0, 0, 1.0 }
}
widget "*mdk*" style "mdk"
widget "*marble3d*" style "marble3d"
widget "*blue*" style "blue"
