/*gtk-button-images=0*/

/*
 * bg[state] = color	Sets the color used for the background of most widgets.
 * fg[state] = color	Sets the color used for the foreground of most widgets.
 * base[state] = color	Sets the color used for the background of widgets displaying editable text. This color is used for the background of, among others, GtkText, GtkEntry, GtkList, and GtkCList.
 * text[state] = color	Sets the color used for foreground of widgets using base for the background color.
 */


#Logo, #Steps * {
  /* base[NORMAL] = { 0.28, 0.38, 0.66 }; */
  background-color: #548EE6;
  color: #FFFFFF;
}

#Step-categories {
  color: #32A9DD;
}

#Banner {
  color: #5A8AD6;
}

#background {
  background: #FFFFFF;
}

#Left_background {
  background-color: #2859B5;
  color: #FFD200;
}
