style "button"
{
  bg[NORMAL] = "#909090"
}

style "window" 
{
}

style "any"
{
  base[NORMAL]	  = { 0.2, 0.2, 0.4 }
  bg[NORMAL]      = { 0.2, 0.2, 0.4 }
  bg[INSENSITIVE] = { 0.6, 0.6, 0.8 }
  base[INSENSITIVE]={ 0.6, 0.6, 0.8 }
  bg[ACTIVE]      = { 0.6, 0.6, 0.8 }
  bg[PRELIGHT]    = { 0.4, 0.4, 0.6 }
  
  text[NORMAL]	  = { 1.0, 1.0, 1.0 }
  fg[NORMAL]  	  = { 1.0, 1.0, 1.0 }
  fg[INSENSITIVE] = { 0.0, 0.0, 0.0 }
  text[INSENSITIVE]={ 1.0, 1.0, 1.0 }
  fg[ACTIVE]  	  = { 0.8, 0.8, 1.0 }
  fg[PRELIGHT]    = { 1.0, 1.0, 1.0 }

  bg[SELECTED] = { 1.0, 1.0, 1.0 }
  fg[SELECTED] = { 0.2, 0.2, 0.4 }
}

style "entry"
{
  base[NORMAL] = { 0.4, 0.4, 0.6 }
  base[ACTIVE] = { 0.4, 0.4, 0.6 }
  fg[NORMAL]   = { 1.0, 1.0, 1.0 }
}

style "notebook"
{
  bg[NORMAL]      = { 0.4, 0.4, 0.6 }
  bg[ACTIVE]      = { 0.2, 0.2, 0.4 }
  fg[NORMAL]      = { 1.0, 1.0, 1.0 }
}

style "button" = "any"
{
  bg[NORMAL] = { 0.4, 0.4, 0.6 }
  fg[NORMAL] = { 1.0, 1.0, 1.0 }
  bg[PRELIGHT] = { 0.36, 0.36, 0.56 }
  fg[PRELIGHT] = { 0.8, 0.8, 1.0 }
}

style "background"
{
  bg[NORMAL] = { 0.6, 0.6, 0.8 }
  bg[PRELIGHT] = { 0.8, 0.8, 0.99 }
}

widget_class "GtkWindow" style "window"
widget_class "*" style "any"
widget_class "*GtkSpin*" style "entry"
widget_class "*GtkEntry*" style "entry"
widget_class "*Gtk*List*" style "entry"
widget_class "*GtkCTree*" style "entry"
widget_class "*GtkNotebook*" style "notebook"
widget "*GtkButton" style "button"
widget "*background*" style "background"


#  style "font"
#  {
#    fontset = "-*-*-medium-r-normal-*-8-*-*-*-*-*-iso8859-1,*-r-*"
#  }

#  style "any"
#  {
#    bg[NORMAL] = { 0.7, 0.8, 0.2 }
#    bg[PRELIGHT] = { 0.9, 0.9, 0.9 }
#  }

#  #  style "any"
#  #  {
#  #  #  fontset = "-adobe-helvetica-medium-r-normal--12-120-75-75-p-67-iso8859-1"
#  #    bg[NORMAL] = { 1.0, 1.0, 1.0 }
#  #    bg[SELECTED] = { 0.0, 0.8, 0.3 }
#  #    bg[INSENSITIVE] = { 1.0, 1.0, 1.0 }
#  #    bg[ACTIVE] = { 1.0, 1.0, 1.0 }
#  #    bg[PRELIGHT] = { 1.0, 1.0, 1.0 }

#  #    base[NORMAL] = { 1.0, 1.0, 1.0 }
#  #    base[SELECTED] = { 1.0, 1.0, 1.0 }
#  #    base[INSENSITIVE] = { 1.0, 1.0, 1.0 }
#  #    base[ACTIVE] = { 1.0, 1.0, 1.0 }
#  #    base[PRELIGHT] = { 1.0, 1.0, 1.0 }

#  #    text[NORMAL] = { 0.0, 0.0, 0.0 }
#  #    text[SELECTED] = { 0.0, 0.0, 0.0 }
#  #    text[INSENSITIVE] = { 0.0, 0.0, 0.0 }
#  #    text[ACTIVE] = { 0.0, 0.0, 0.0 }
#  #    text[PRELIGHT] = { 0.0, 0.0, 0.0 }

#  #    fg[NORMAL] = { 0.0, 0.0, 0.0 }
#  #    fg[SELECTED] = { 0.8, 0.8, 0.8 }
#  #    fg[INSENSITIVE] = { 1.0, 1.0, 0.0 }
#  #    fg[ACTIVE] = { 1.0, 1.0, 0.0 }
#  #    fg[PRELIGHT] = { 0.0, 0.3, 0.8 }

#  #  }

#  style "area" = "font"
#  {
#    bg[NORMAL] = { 1.0, 1.0, 1.0 }
#    bg[PRELIGHT] = { 0.8, 0.8, 0.8 }
#  }

#  style "red" = "font"
#  {
#    bg[NORMAL] = { 1.0, 0, 0 }
#    bg[PRELIGHT] = { 0.9, 0, 0 }
#  }
#  style "darkred" = "font"
#  {
#    bg[NORMAL] = { 0.7, 0, 0 }
#    bg[PRELIGHT] = { 0.6, 0, 0 }
#  }
#  style "green" = "font"
#  {
#    bg[NORMAL] = { 0, 1.0, 0 }
#    bg[PRELIGHT] = { 0, 0.9, 0 }
#    fg[NORMAL] = { 0, 0, 0 }
#  }
#  style "blue" = "font"
#  {
#    bg[NORMAL] = { 0, 0, 1.0 }
#    bg[PRELIGHT] = { 0, 0, 0.9 }
#  }
#  style "white" = "font"
#  {
#    bg[NORMAL] = { 1.0, 1.0, 1.0 }
#    bg[PRELIGHT] = { 0.67, 0.67, 0.67 }
#    fg[NORMAL] = { 0, 0, 0 }
#  }

#  #widget_class "GtkWindow" style "window"
#  #widget_class "*abel*" style "any"
#  widget_class "*" style "any"
#  widget_class "*Area*" style "area"
#  #widget_class "*GtkSpin*" style "entry"
#  #widget_class "*GtkEntry*" style "entry"
#  #widget_class "*Gtk*List*" style "entry"
#  #widget_class "*GtkCTree*" style "entry"
#  #widget_class "*GtkNotebook*" style "notebook"
#  #widget "*GtkButton" style "button"
#  #widget "*background*" style "background"

#  #class "GtkRadioButton" style "checkradiobutton"
#  #class "GtkCheckButton" style "checkradiobutton"


#  #widget_class "GtkWindow" style "window"
#  #widget_class "*Area*" style "any"
#  #widget_class "*abel*" style "any"
#  #class "*" style "any"
#  #widget_class "*GtkSpin*" style "entry"
#  #widget_class "*GtkEntry*" style "entry"
#  #widget_class "*Gtk*List*" style "entry"
#  #widget_class "*GtkCTree*" style "entry"
#  #widget_class "*GtkNotebook*" style "notebook"
#  #widget "*GtkButton" style "button"
#  #widget "*background*" style "background"

#  #class "GtkRadioButton" style "checkradiobutton"
#  #class "GtkCheckButton" style "checkradiobutton"
