gtk-button-images=0

style "white-on-blue"
{
  base[NORMAL] = { 0.28, 0.38, 0.66 }
  bg[NORMAL] = "#548EE6"
    
  text[NORMAL] = "#FFFFFF"
  fg[NORMAL] = "#FFFFFF"
}

style "step-categories"
{
  fg[NORMAL] = "#2A5EBA"
}
style "banner"
{
  fg[NORMAL] = "#5A8AD6"
  fg[ACTIVE] = "#5A8AD6"
  fg[PRELIGHT] = "#5A8AD6"
}

style "background"
{
  bg[NORMAL] = "#FFFFFF"
}

style "Left_background"
{
  bg[NORMAL] = "#2859B5"
  base[NORMAL] = "#2859B5"
  fg[NORMAL] = "#FFD200"
}

widget "*Steps*" style "white-on-blue"
widget "*Step-categories*" style "step-categories"
widget "*Left_background*" style "Left_background"
widget "*logo*" style "white-on-blue"
widget "*background*" style "background"
widget "*Banner*" style "banner"
