0:boot/instboot.gz initrd=boot/cdrom.rdz mdkinst rw ramdisk=32000 cdrom
1:boot/instboot.gz initrd=boot/network.rdz mdkinst rw ramdisk=32000 network
2:boot/instboot.gz initrd=boot/hd.rdz mdkinst rw ramdisk=32000 hd
