
insmod efi_gop
insmod efi_uga
insmod video_bochs
insmod video_cirrus
insmod video_fb

insmod font
if loadfont ${prefix}/fonts/unicode.pf2
then
   insmod gfxterm
   set gfxmode=1024x768,800x600,640x480
   set gfxpayload=keep
   terminal_output gfxterm
fi

insmod png
set theme=($root)/EFI/BOOT/themes/maggy/theme.txt
export theme

set timeout=10

search --no-floppy --set=root -l 'Mageia-7-x86_64-netinstall'

menuentry 'Start Mageia 7 (Cauldron) Install' {
        linux /isolinux/x86_64/vmlinuz audit=0 quiet noiswmd
        initrd /isolinux/x86_64/all.rdz
}

menuentry 'Start Mageia 7 (Cauldron) Rescue' {
        linux /isolinux/x86_64/vmlinuz audit=0 noiswmd rescue
        initrd /isolinux/x86_64/all.rdz
}
